section.flow
    background #FFE4E1
    margin-bottom 0.125em
    a
      display block
      border-left 0.5em solid color-gray
      transition border-left .45s
      padding 0.5em
      @media mini
        padding 1em
      &:hover
        border-left 0.5em solid color-theme
      h1
        color color-blue
        line-height line-height+0.5
      p
        color color-font
      time
        color color-font
        display block
        margin 0.5em 0
        font-size 0.5em
.archive-part
  @media mini
     min-height 200px
  @media tablet
    width 78% !important
    float right
    margin-left 2% !important
  section.flow
    width 100%
    @media mini
      float left
      width 50%
    @media tablet
      width 33.333%
.flow,.page
  background color-section
  a
    color color-blue 
    &:hover
      color color-theme

.flow 
  article 
    .article-content
      ul
        padding-left .7em
        padding-bottom 10px
        margin 1em 0
        li
          background url(/img/li-chevron.png) 0 .4em no-repeat
          padding-left .7em
          margin 5px 0
      ol
        counter-reset li
        list-style none
        position relative
        padding-bottom 10px
        li
          padding 5px 0 5px 55px;
          position relative;
          margin-bottom 5px
          list-style none
          &:before
            content counter(li)
            counter-increment li
            position absolute
            top 0
            left 0
            height 100%
            width 30px
            padding 0 10px 0 0
            color #999
            font-size 22px
            font-weight 700
            line-height 35px
            text-align right
            border-right 1px solid #ddd
          &:after
            content "."
            display block
            clear both
            visibility hidden
            line-height 0
            height 0
          img
            max-width 100px
            margin 0 0 0 10px
            float right
            border 1px solid #ddd
            cursor pointer
          .full-image 
            position absolute
            top 5px
            right -20px
            z-index 100
            img
              position absolute
              top 0
              right 20px
              margin 0
              max-width 600px
              box-shadow 0 0 3px rgba(0,0,0,.2)

.octicon-x
  position absolute
  top 0
  right 0
  color #999
  cursor pointer
  :before 
    content 'x'
